body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 170px;
}
h1 {
  font-size: 250%;
  text-align: center;
  padding: .4em;
  font-family: "Balthazar", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: #337ab7;
  font-family: "Balthazar", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2, h3, h5 {
  font-family: "Balthazar", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th {
    cursor: pointer;
    color: #337ab7;
}
