body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 250%;
  text-align: center;
  padding: .4em;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, serif;
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: #337ab7;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, serif;
}
h2, h3, h5 {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, serif;
}
th {
    cursor: pointer;
    color: #337ab7;
}
.card {
  margin: 15px;
}
.turtle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.note {
  display: none;
}
.database {
  padding-bottom: 10px;
}
.searchForm {
  padding-top: 10px;
}
.form-control {
  border-radius: 50px;
}
.lead {
  color: #000;
}
